body {
    background-color: rgb(222, 210, 210);
    display: flex;
    justify-content: center;
    flex-flow: row;
}

#article {
    gap: 1rem;
    display: flex;
    flex-flow: row;
    background-color: whitesmoke;
}

#section-1 {
    padding: 0.5rem;
    gap: 0.3rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#section-2 {

    gap: 0.3rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#input-name {
    border: violet solid 3px;
}

#input-email {
    border: blue solid 3px;
}

#input-number {
    border: blueviolet solid 3px;
}

#button-ad {
    color: white;
    background-color: rgb(0, 255, 8);
    width: 100%;
}

#button-delete {
    color: white;
    background-color: red;
}